
body{
    margin: 0;
    height: 0;
  

}
h2,h3{
    margin: 0;
    font-family: 'Belleza', sans-serif;
    font-weight: 700;

}
h1{
    margin: 0;
    font-weight: 700;
    font-family: 'Press Start 2P', cursive;
    
  
    
    
}
footer{
    color: #ffffff;
    text-align: center;
    align-items: center;
    background-color: #000312;
    padding: 36px;
    flex-direction: column;
    
}
footer a{
    text-decoration: none;
    color: #ffffff;
}
 .btn{
            text-decoration: none;
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 1;
        }
p{
font-family:14pt;
}
header{
    background-image: linear-gradient(90deg, yellow,red);
    color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center  ;
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans sans-serif;



}
#blog{
    background-color: #ffffff;
    color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center  ;
    padding: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans sans-serif;


}
#sobre{
    background-color: #000312;
    color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items:left;
    text-align: left;
    padding: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans sans-serif;

}
#duvidas h2{
    text-align: center;
    align-items: center;
}
#duvidas p{
    color: #f1f1ff;
}
#experiencia{
    background-color: #545766;
    color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center  ;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans sans-serif;
    

}
#experiencia ul li{
    list-style: none;
}
#tela p{
    font-size: 14pt;
    margin-top: 0px;
}
nav{
    display: flex;
    flex-direction:row;
    align-items: center;
    background-image: linear-gradient(90deg, yellow,red);
    width: 100%;
    position: fixed;
    
    
    
}
nav > a{
    text-decoration: none;
    color: #f1f1f1;
    font-weight: 700;
    font-size: 28px;

}
nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
nav ul li{
    text-align: center;
    width: 100%;

}
nav ul li a{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #f1f1f1;
}
nav ul li:hover{
    background-color:#000312;
}
#conteudo{
     background-color: #ffffff;
    color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: left justify;
    padding: 25px;


}
hr{
    padding: 0%;
    margin: 0;
}
#conteudo ul li{
      list-style: none;
}
#fotosobre img{
    width: 100%;
    display: flex;
    align-items: center;

}
#conteudo p{
    font-size: 13pt;
    font-family: 'Belleza', sans-serif;
}
.botao{
    background-image: linear-gradient(90deg, yellow,red);
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 10px 30px;
    
    border-radius: 17px;
}
.botao:hover{
    background-color: rgb(0, 140, 255);
    color: #ffffff;
}
h1::after{
    content: '|';
    opacity: 1;
    animation : pisco .7s infinite; 
}
#tela p::after{
    content: '|';
    opacity: 1;
    animation : pisco .7s infinite; 
}
#redessocias img{
    width: 10%;

}
 #duvidas{
     background-color: #000312;
     color: #ffffff;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     flex-direction: column;
     align-items:left;
     text-align: left;
     padding: 25px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans sans-serif;
     border-bottom: white;
 
 }
   
@keyframes pisco{
    0%, 100%{
    opacity: 1;
    }
    50%{
        opacity: 0;
    }

}
@media screen and (min-width: 1200px){
    /*
    navegacao
    */
    nav{
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul{
        flex-direction: row;
        width: 70%;
    }
    #sobremim{
        width: 25%;
        margin: 20px;
    }
    .botao{
        width: 20%;
        
    }
    #blog{
        text-align: left;
        align-items: initial;
    }
    #experiencia{
        flex-direction: initial;
        text-align: left;
        align-items: initial;
        margin: 0%;
    }
    #botaobaixar{
        width: 20%;
        margin-bottom: 30%;
        margin-top: 100px;
        margin-left: 10px;
    }
    nav{
        display: flex;
        flex-direction:row;
        align-items: center;
        background-image: linear-gradient(90deg, yellow,red);
        width: 100%;
        position: relative;       
        
    }
     #redessocias img{
     width: 4%;
 
 }
   
   
   
   

}










